*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*stilos*/
body{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100dvh;
    & main{
        & h5 { 
            font-size: 18px;
        }
            & h1{
                font-size: 32px;
                font-weight: 900;
                color: rgb(58, 59, 59);
            }

        }
        .resaltado{
            color: rgb(77, 77, 77);
            transition: color 0.3 sg ease ;
            cursor: pointer;

        }
        .resaltado:hover{
            color: rgb(255, 38, 0);
        }

    }